# Ice Breaking on Dataset

### Investigation & Optimization

## Investigation
* For this project, the total dataset consists of 12 `csv` files
  * Each file contains overall information about taxi trips in Chicago by month
* Investigate & find some important information in `chicago_taxi_trips_2016_01.csv`

### Make some pre-processing functions to optimize the total (12) data files.

In [1]:
import pandas as pd

trips_2016_01 = pd.read_csv('data/chicago_taxi_trips_2016_01.csv')

In [2]:
trips_2016_01.head()

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,85.0,2016-1-13 06:15:00,2016-1-13 06:15:00,180.0,0.40,NaN,NaN,24.0,24.0,4.50,0.00,0.0,0.0,4.50,Cash,107.0,199.0,510.0,199.0,510.0
1,2776.0,2016-1-22 09:30:00,2016-1-22 09:45:00,240.0,0.70,NaN,NaN,NaN,NaN,4.45,4.45,0.0,0.0,8.90,Credit Card,NaN,NaN,NaN,NaN,NaN
2,3168.0,2016-1-31 21:30:00,2016-1-31 21:30:00,0.0,0.00,NaN,NaN,NaN,NaN,42.75,5.00,0.0,0.0,47.75,Credit Card,119.0,NaN,NaN,NaN,NaN
3,4237.0,2016-1-23 17:30:00,2016-1-23 17:30:00,480.0,1.10,NaN,NaN,6.0,6.0,7.00,0.00,0.0,0.0,7.00,Cash,NaN,686.0,500.0,686.0,500.0
4,5710.0,2016-1-14 05:45:00,2016-1-14 06:00:00,480.0,2.71,NaN,NaN,32.0,NaN,10.25,0.00,0.0,0.0,10.25,Cash,NaN,385.0,478.0,NaN,NaN

In [3]:
trips_2016_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705805 entries, 0 to 1705804
Data columns (total 20 columns):
taxi_id                   float64
trip_start_timestamp      object
trip_end_timestamp        object
trip_seconds              float64
trip_miles                float64
pickup_census_tract       float64
dropoff_census_tract      float64
pickup_community_area     float64
dropoff_community_area    float64
fare                      float64
tips                      float64
tolls                     float64
extras                    float64
trip_total                float64
payment_type              object
company                   float64
pickup_latitude           float64
pickup_longitude          float64
dropoff_latitude          float64
dropoff_longitude         float64
dtypes: float64(17), object(3)
memory usage: 260.3+ MB

In [4]:
trips_2016_01._data

BlockManager
Items: Index(['taxi_id', 'trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'pickup_census_tract', 'dropoff_census_tract',
       'pickup_community_area', 'dropoff_community_area', 'fare', 'tips',
       'tolls', 'extras', 'trip_total', 'payment_type', 'company',
       'pickup_latitude', 'pickup_longitude', 'dropoff_latitude',
       'dropoff_longitude'],
      dtype='object')
Axis 1: RangeIndex(start=0, stop=1705805, step=1)
FloatBlock: [0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19], 17 x 1705805, dtype: float64
ObjectBlock: [1, 2, 14], 3 x 1705805, dtype: object

In [5]:
print('total size: {}'.format(trips_2016_01.size))
print('column length: {}'.format(len(trips_2016_01.columns)))
print('row length: {}'.format(len(trips_2016_01)))

total size: 34116100
column length: 20
row length: 1705805

In [6]:
obj_cols = trips_2016_01.select_dtypes(include=['object'])
float_cols = trips_2016_01.select_dtypes(include=['float'])

In [7]:
obj_cols_mem = obj_cols.memory_usage(deep=True)
float_cols_mem = float_cols.memory_usage(deep=True)

In [8]:
obj_cols_mem

Index                          80
trip_start_timestamp    127468137
trip_end_timestamp      127462927
payment_type            109573614
dtype: int64

In [9]:
float_cols_mem

Index                           80
taxi_id                   13646440
trip_seconds              13646440
trip_miles                13646440
pickup_census_tract       13646440
dropoff_census_tract      13646440
pickup_community_area     13646440
dropoff_community_area    13646440
fare                      13646440
tips                      13646440
tolls                     13646440
extras                    13646440
trip_total                13646440
company                   13646440
pickup_latitude           13646440
pickup_longitude          13646440
dropoff_latitude          13646440
dropoff_longitude         13646440
dtype: int64

### Note.

* Most columns have the same amount of memory usages
* We can check the range by each column and optimize

In [10]:
# total memory usages by megabyte
trips_2016_01.memory_usage(deep=True).sum()/2**20

568.86123466491699

In [11]:
# object type columns have only 3 columns in data
# but use more memory than float type columns do
obj_cols_mem.sum() / 2**20

347.61882591247559

In [12]:
float_cols_mem.sum() / 2**20

221.24248504638672

## Optimize `Float` type columns using `pandas.to_numeric` with `downcast` parameter

In [13]:
for fc in  float_cols.columns:
    trips_2016_01[fc] = pd.to_numeric(trips_2016_01[fc], 
                                      downcast='float')
    print(fc, trips_2016_01[fc].dtype)

taxi_id float32
trip_seconds float32
trip_miles float32
pickup_census_tract float32
dropoff_census_tract float32
pickup_community_area float32
dropoff_community_area float32
fare float32
tips float32
tolls float32
extras float32
trip_total float32
company float32
pickup_latitude float32
pickup_longitude float32
dropoff_latitude float32
dropoff_longitude float32

## Which `float` type columns can be converted to `int` type columns?

In [14]:
# check the header part again
trips_2016_01.head()

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,85.0,2016-1-13 06:15:00,2016-1-13 06:15:00,180.0,0.40,NaN,NaN,24.0,24.0,4.50,0.00,0.0,0.0,4.50,Cash,107.0,199.0,510.0,199.0,510.0
1,2776.0,2016-1-22 09:30:00,2016-1-22 09:45:00,240.0,0.70,NaN,NaN,NaN,NaN,4.45,4.45,0.0,0.0,8.90,Credit Card,NaN,NaN,NaN,NaN,NaN
2,3168.0,2016-1-31 21:30:00,2016-1-31 21:30:00,0.0,0.00,NaN,NaN,NaN,NaN,42.75,5.00,0.0,0.0,47.75,Credit Card,119.0,NaN,NaN,NaN,NaN
3,4237.0,2016-1-23 17:30:00,2016-1-23 17:30:00,480.0,1.10,NaN,NaN,6.0,6.0,7.00,0.00,0.0,0.0,7.00,Cash,NaN,686.0,500.0,686.0,500.0
4,5710.0,2016-1-14 05:45:00,2016-1-14 06:00:00,480.0,2.71,NaN,NaN,32.0,NaN,10.25,0.00,0.0,0.0,10.25,Cash,NaN,385.0,478.0,NaN,NaN

In [24]:
# taxi_id only has integer values
# however, there exists nulls - not able to be converted.
trips_2016_01['taxi_id'].isnull().sum()

23

## Converting to DateTime

In [25]:
trips_2016_01.columns

Index(['taxi_id', 'trip_start_timestamp', 'trip_end_timestamp', 'trip_seconds',
       'trip_miles', 'pickup_census_tract', 'dropoff_census_tract',
       'pickup_community_area', 'dropoff_community_area', 'fare', 'tips',
       'tolls', 'extras', 'trip_total', 'payment_type', 'company',
       'pickup_latitude', 'pickup_longitude', 'dropoff_latitude',
       'dropoff_longitude'],
      dtype='object')

In [26]:
# 'timestamp' related columns --- object type.
print(trips_2016_01.trip_start_timestamp.dtype)
print(trips_2016_01.trip_end_timestamp.dtype)

object
object

In [27]:
trips_2016_01['trip_start_timestamp'] = pd.to_datetime(trips_2016_01['trip_start_timestamp'])
trips_2016_01['trip_end_timestamp'] = pd.to_datetime(trips_2016_01['trip_end_timestamp'])

In [28]:
trips_2016_01[['trip_start_timestamp', 'trip_end_timestamp']].memory_usage(deep=True)

Index                         80
trip_start_timestamp    13646440
trip_end_timestamp      13646440
dtype: int64

## Converting to Categorical
* `category` data type uses int subtype to represent the unique values in a columns.
* TRADEOFF! : we can't do arithmetic with `category` columns or use methods like `Series.min()` or `Series(max)` without converting to a true numerical dtype first.
  * **We should stick to using the category type primarily for object columns where less than 50% of the values are unique.**
  * If all of the values in a column are unique, the category type will end up using more memory.

In [34]:
trips_2016_01['payment_type'].dtype

dtype('O')

In [31]:
trips_2016_01['payment_type'].memory_usage(deep=True)

109573694

In [33]:
trips_2016_01['payment_type'].value_counts()

Cash           912334
Credit Card    781271
No Charge        7555
Unknown          3139
Dispute           845
Pcard             437
Prcard            224
Name: payment_type, dtype: int64

In [36]:
# unique values less than 50% of the total values?
(len(trips_2016_01['payment_type'].unique()) / len(trips_2016_01)) < .5

True

In [37]:
trips_2016_01['payment_type'] = trips_2016_01['payment_type'].astype('category')

## Compare the memory usages vs. the original dataset

* `deep memory usage` decreased from `568.9MB` to `138.3MB`

In [38]:
trips_2016_01_origin = pd.read_csv('data/chicago_taxi_trips_2016_01.csv')
trips_2016_01_origin.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705805 entries, 0 to 1705804
Data columns (total 20 columns):
taxi_id                   float64
trip_start_timestamp      object
trip_end_timestamp        object
trip_seconds              float64
trip_miles                float64
pickup_census_tract       float64
dropoff_census_tract      float64
pickup_community_area     float64
dropoff_community_area    float64
fare                      float64
tips                      float64
tolls                     float64
extras                    float64
trip_total                float64
payment_type              object
company                   float64
pickup_latitude           float64
pickup_longitude          float64
dropoff_latitude          float64
dropoff_longitude         float64
dtypes: float64(17), object(3)
memory usage: 568.9 MB

In [39]:
trips_2016_01.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705805 entries, 0 to 1705804
Data columns (total 20 columns):
taxi_id                   float32
trip_start_timestamp      datetime64[ns]
trip_end_timestamp        datetime64[ns]
trip_seconds              float32
trip_miles                float32
pickup_census_tract       float32
dropoff_census_tract      float32
pickup_community_area     float32
dropoff_community_area    float32
fare                      float32
tips                      float32
tolls                     float32
extras                    float32
trip_total                float32
payment_type              category
company                   float32
pickup_latitude           float32
pickup_longitude          float32
dropoff_latitude          float32
dropoff_longitude         float32
dtypes: category(1), datetime64[ns](2), float32(17)
memory usage: 138.3 MB

## Now we can write a function to optimize the memory usage for data.

In [52]:
def optimize_memory_usage(df):
    
    data = df.copy()
    
    obj_cols = data.select_dtypes(include=['object'])
    float_cols = data.select_dtypes(include=['float'])
    
    # donwcast float type cloumns
    for fc in float_cols.columns:
        data[fc] = pd.to_numeric(data[fc], downcast='float')
        
    
    for oc in obj_cols.columns:
        
        # convert timestamp columns to datetime type columns
        if 'timestamp' in oc:
            data[oc] = pd.to_datetime(data[oc])
            
        # converting to categorical
        if 'type' in oc:
            if len(data[oc].unique()) / len(data) < .5:
                data[oc] = data[oc].astype('category')
    
    
    print('original data')
    print(df.info(memory_usage='deep'))
    print('optimized data')
    print(data.info(memory_usage='deep'))    
    
    return data

In [53]:
# test the function above with the csv file we have used till now.

optimize_memory_usage(trips_2016_01_origin)

original data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705805 entries, 0 to 1705804
Data columns (total 20 columns):
taxi_id                   float64
trip_start_timestamp      object
trip_end_timestamp        object
trip_seconds              float64
trip_miles                float64
pickup_census_tract       float64
dropoff_census_tract      float64
pickup_community_area     float64
dropoff_community_area    float64
fare                      float64
tips                      float64
tolls                     float64
extras                    float64
trip_total                float64
payment_type              object
company                   float64
pickup_latitude           float64
pickup_longitude          float64
dropoff_latitude          float64
dropoff_longitude         float64
dtypes: float64(17), object(3)
memory usage: 568.9 MB
None
optimized data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705805 entries, 0 to 1705804
Data columns (total 20 columns):
taxi_id                   float32
trip_start_timestamp      datetime64[ns]
trip_end_timestamp        datetime64[ns]
trip_seconds              float32
trip_miles                float32
pickup_census_tract       float32
dropoff_census_tract      float32
pickup_community_area     float32
dropoff_community_area    float32
fare                      float32
tips                      float32
tolls                     float32
extras                    float32
trip_total                float32
payment_type              category
company                   float32
pickup_latitude           float32
pickup_longitude          float32
dropoff_latitude          float32
dropoff_longitude         float32
dtypes: category(1), datetime64[ns](2), float32(17)
memory usage: 138.3 MB
None

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,85.0,2016-01-13 06:15:00,2016-01-13 06:15:00,180.0,0.40,NaN,NaN,24.0,24.0,4.50,0.00,0.0,0.0,4.500000,Cash,107.0,199.0,510.0,199.0,510.0
1,2776.0,2016-01-22 09:30:00,2016-01-22 09:45:00,240.0,0.70,NaN,NaN,NaN,NaN,4.45,4.45,0.0,0.0,8.900000,Credit Card,NaN,NaN,NaN,NaN,NaN
2,3168.0,2016-01-31 21:30:00,2016-01-31 21:30:00,0.0,0.00,NaN,NaN,NaN,NaN,42.75,5.00,0.0,0.0,47.750000,Credit Card,119.0,NaN,NaN,NaN,NaN
3,4237.0,2016-01-23 17:30:00,2016-01-23 17:30:00,480.0,1.10,NaN,NaN,6.0,6.0,7.00,0.00,0.0,0.0,7.000000,Cash,NaN,686.0,500.0,686.0,500.0
4,5710.0,2016-01-14 05:45:00,2016-01-14 06:00:00,480.0,2.71,NaN,NaN,32.0,NaN,10.25,0.00,0.0,0.0,10.250000,Cash,NaN,385.0,478.0,NaN,NaN
5,1987.0,2016-01-08 18:15:00,2016-01-08 18:45:00,1080.0,6.20,NaN,NaN,8.0,3.0,17.75,0.00,0.0,0.0,17.750000,Cash,NaN,599.0,346.0,660.0,120.0
6,4986.0,2016-01-14 04:30:00,2016-01-14 05:00:00,1500.0,18.40,NaN,NaN,NaN,NaN,45.00,12.00,0.0,0.0,57.000000,Credit Card,NaN,NaN,NaN,NaN,NaN
7,6400.0,2016-01-26 04:15:00,2016-01-26 04:15:00,60.0,0.20,NaN,NaN,16.0,16.0,3.75,0.00,0.0,0.0,3.750000,Cash,107.0,527.0,24.0,527.0,24.0
8,7418.0,2016-01-22 11:30:00,2016-01-22 11:45:00,180.0,0.00,NaN,504.0,8.0,32.0,5.00,2.00,0.0,1.5,8.500000,Credit Card,82.0,210.0,470.0,744.0,605.0
9,6450.0,2016-01-07 21:15:00,2016-01-07 21:15:00,0.0,0.00,NaN,NaN,NaN,NaN,3.25,0.00,0.0,1.5,4.750000,Cash,NaN,NaN,NaN,NaN,NaN
10,1078.0,2016-01-25 09:00:00,2016-01-25 09:00:00,480.0,1.30,NaN,792.0,8.0,8.0,7.00,1.00,0.0,0.0,8.000000,Credit Card,109.0,161.0,649.0,419.0,615.0
11,6641.0,2016-01-06 23:15:00,2016-01-06 23:30:00,420.0,0.00,NaN,807.0,8.0,28.0,7.25,0.00,0.0,0.0,7.250000,Cash,8.0,419.0,615.0,411.0,545.0
12,920.0,2016-01-13 18:30:00,2016-01-13 19:00:00,1380.0,5.10,NaN,NaN,32.0,31.0,17.25,5.18,0.0,0.0,22.430000,Credit Card,NaN,385.0,478.0,558.0,388.0
13,7984.0,2016-01-22 09:45:00,2016-01-22 09:45:00,420.0,0.00,NaN,749.0,8.0,28.0,6.25,0.00,0.0,0.0,6.250000,Cash,107.0,419.0,615.0,681.0,196.0
14,6078.0,2016-01-03 07:45:00,2016-01-03 08:00:00,480.0,0.10,NaN,NaN,41.0,69.0,9.00,0.00,0.0,0.0,9.000000,Cash,107.0,583.0,195.0,278.0,173.0
15,221.0,2016-01-03 16:30:00,2016-01-03 16:30:00,720.0,0.00,NaN,807.0,7.0,28.0,10.75,0.00,0.0,0.0,10.750000,Cash,101.0,642.0,32.0,411.0,545.0
16,6535.0,2016-01-25 10:30:00,2016-01-25 10:30:00,720.0,2.20,NaN,40.0,7.0,28.0,10.00,0.00,0.0,0.0,10.000000,Cash,92.0,618.0,407.0,395.0,408.0
17,5292.0,2016-01-29 08:15:00,2016-01-29 08:30:00,300.0,0.80,NaN,NaN,NaN,NaN,5.50,0.00,0.0,0.0,5.500000,Cash,NaN,NaN,NaN,NaN,NaN
18,5367.0,2016-01-11 14:00:00,2016-01-11 14:00:00,420.0,0.00,NaN,NaN,28.0,28.0,6.75,0.00,0.0,0.0,6.750000,Cash,107.0,158.0,270.0,158.0,270.0
19,4251.0,2016-01-01 19:30:00,2016-01-01 19:45:00,660.0,4.10,NaN,404.0,8.0,6.0,11.85,3.00,0.0,1.0,15.850000,Credit Card,101.0,210.0,470.0,606.0,617.0
20,3428.0,2016-01-20 07:30:00,2016-01-20 07:45:00,720.0,2.50,NaN,749.0,8.0,28.0,10.25,1.75,0.0,0.0,12.000000,Credit Card,NaN,167.0,754.0,681.0,196.0
21,5132.0,2016-01-08 19:30:00,2016-01-08 19:30:00,720.0,0.20,NaN,108.0,32.0,24.0,12.25,2.00,0.0,1.0,15.250000,Credit Card,8.0,18.0,610.0,472.0,207.0
22,8414.0,2016-01-02 13:30:00,2016-01-02 13:30:00,0.0,0.00,NaN,NaN,3.0,3.0,3.25,0.00,0.0,0.0,3.250000,Cash,NaN,660.0,120.0,660.0,120.0
23,2647.0,2016-01-15 19:30:00,2016-01-15 19:30:00,360.0,0.00,NaN,13.0,8.0,8.0,6.50,0.00,0.0,0.0,6.500000,Cash,107.0,754.0,410.0,474.0,204.0
24,2628.0,2016-01-19 11:15:00,2016-01-19 11:15:00,0.0,0.00,NaN,NaN,NaN,NaN,10.75,2.69,0.0,0.0,13.440000,Credit Card,119.0,NaN,NaN,NaN,NaN
25,8613.0,2016-01-14 14:15:00,2016-01-14 14:45:00,1740.0,11.50,NaN,960.0,32.0,56.0,31.25,0.00,0.0,4.0,35.250000,Cash,NaN,18.0,610.0,433.0,757.0
26,4126.0,2016-01-23 21:45:00,2016-01-23 21:45:00,360.0,0.00,NaN,504.0,8.0,32.0,6.00,0.00,0.0,0.0,6.000000,Cash,101.0,688.0,206.0,744.0,605.0
27,3102.0,2016-01-17 21:00:00,2016-01-17 21:00:00,0.0,0.00,NaN,NaN,NaN,NaN,22.00,1.50,0.0,0.0,23.500000,Credit Card,119.0,NaN,NaN,NaN,NaN
28,4488.0,2016-01-23 21:00:00,2016-01-23 21:30:00,2040.0,17.40,NaN,NaN,8.0,NaN,44.75,8.95,0.0,0.0,53.700001,Credit Card,NaN,599.0,346.0,NaN,NaN
29,146.0,2016-01-17 01:00:00,2016-01-17 01:00:00,180.0,0.70,NaN,NaN,NaN,NaN,5.00,2.00,0.0,0.0,7.000000,Credit Card,109.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1705775,6060.0,2016-01-20 23:45:00,2016-01-20 23:45:00,480.0,2.10,NaN,316.0,28.0,8.0,8.75,0.00,0.0,0.0,8.750000,Cash,NaN,395.0,408.0,130.0,532.0
1705776,1592.0,2016-01-31 07:00:00,2016-01-31 07:00:00,480.0,0.00,NaN,NaN,8.0,24.0,10.00,0.00,0.0,0.0,10.000000,Cash,8.0,599.0,346.0,199.0,510.0
1705777,4120.0,2016-01-20 06:30:00,2016-01-20 06:45:00,180.0,0.50,NaN,NaN,8.0,8.0,4.50,0.00,0.0,0.0,4.500000,Cash,NaN,599.0,346.0,599.0,346.0
1705778,6195.0,2016-01-22 12:45:00,2016-01-22 12:45:00,180.0,0.70,NaN,NaN,3.0,3.0,5.00,0.00,0.0,0.0,5.000000,Cash,NaN,660.0,120.0,660.0,120.0
1705779,4698.0,2016-01-06 19:45:00,2016-01-06 20:00:00,660.0,2.70,NaN,854.0,32.0,33.0,10.75,0.00,0.0,0.0,10.750000,Cash,107.0,744.0,605.0,584.0,60.0
1705780,2662.0,2016-01-22 08:30:00,2016-01-22 08:30:00,720.0,1.70,NaN,504.0,28.0,32.0,8.75,2.00,0.0,0.0,10.750000,Credit Card,NaN,395.0,408.0,744.0,605.0
1705781,7976.0,2016-01-14 05:15:00,2016-01-14 05:15:00,0.0,0.00,NaN,NaN,6.0,6.0,3.25,0.00,0.0,0.0,3.250000,Cash,107.0,686.0,500.0,686.0,500.0
1705782,1251.0,2016-01-15 09:45:00,2016-01-15 09:45:00,600.0,2.40,NaN,NaN,21.0,6.0,9.50,2.00,0.0,0.0,11.500000,Credit Card,107.0,95.0,781.0,686.0,500.0
1705783,321.0,2016-01-27 07:30:00,2016-01-27 07:45:00,1380.0,0.50,NaN,NaN,31.0,22.0,24.75,5.00,0.0,0.0,29.750000,Credit Card,107.0,558.0,388.0,604.0,668.0
1705784,7574.0,2016-01-05 22:00:00,2016-01-05 22:15:00,600.0,3.10,NaN,807.0,7.0,28.0,11.25,0.00,0.0,1.0,12.250000,Cash,101.0,725.0,518.0,411.0,545.0
1705785,1240.0,2016-01-07 20:15:00,2016-01-07 20:30:00,600.0,4.40,NaN,735.0,32.0,22.0,13.50,0.00,0.0,0.0,13.500000,Cash,NaN,744.0,605.0,535.0,512.0
1705786,1279.0,2016-01-22 06:30:00,2016-01-22 06:30:00,300.0,1.00,NaN,NaN,7.0,22.0,5.75,0.00,0.0,0.0,5.750000,Cash,82.0,173.0,203.0,604.0,668.0
1705787,2655.0,2016-01-16 14:30:00,2016-01-16 14:45:00,660.0,4.80,NaN,970.0,3.0,8.0,15.25,3.05,0.0,0.0,18.299999,Credit Card,NaN,778.0,172.0,210.0,470.0
1705788,4806.0,2016-01-22 14:45:00,2016-01-22 14:45:00,0.0,0.00,NaN,NaN,NaN,NaN,45.75,9.00,0.0,0.0,54.750000,Credit Card,119.0,NaN,NaN,NaN,NaN
1705789,7903.0,2016-01-27 08:45:00,2016-01-27 08:45:00,360.0,0.70,NaN,16.0,28.0,32.0,5.50,0.00,0.0,0.0,5.500000,Cash,82.0,395.0,408.0,18.0,610.0
1705790,7807.0,2016-01-11 19:00:00,2016-01-11 19:00:00,420.0,0.80,NaN,792.0,8.0,8.0,6.00,2.00,0.0,0.0,8.000000,Credit Card,107.0,161.0,649.0,419.0,615.0
1705791,6580.0,2016-01-19 14:45:00,2016-01-19 14:45:00,0.0,0.10,NaN,NaN,3.0,3.0,3.50,0.00,0.0,0.0,3.500000,Cash,NaN,660.0,120.0,660.0,120.0
1705792,4256.0,2016-01-31 20:00:00,2016-01-31 20:15:00,1500.0,14.00,NaN,NaN,56.0,22.0,35.50,0.00,0.0,5.0,40.500000,Cash,NaN,230.0,394.0,604.0,668.0
1705793,6132.0,2016-01-08 20:15:00,2016-01-08 20:15:00,180.0,0.70,NaN,178.0,6.0,6.0,4.75,0.00,0.0,1.0,5.750000,Cash,NaN,258.0,2.0,258.0,2.0
1705794,5910.0,2016-01-14 11:15:00,2016-01-14 11:15:00,300.0,0.00,NaN,179.0,32.0,32.0,5.75,1.50,0.0,0.0,7.250000,Credit Card,107.0,18.0,610.0,30.0,405.0
1705795,4579.0,2016-01-29 20:45:00,2016-01-29 20:45:00,360.0,0.00,NaN,1077.0,8.0,7.0,6.50,0.00,0.0,1.0,7.500000,Cash,8.0,454.0,453.0,724.0,47.0
1705796,5264.0,2016-01-20 20:30:00,2016-01-20 20:30:00,0.0,0.00,NaN,NaN,NaN,NaN,17.25,2.00,0.0,0.0,19.250000,Credit Card,119.0,NaN,NaN,NaN,NaN
1705797,918.0,2016-01-09 16:15:00,2016-01-09 16:30:00,900.0,0.10,NaN,970.0,33.0,8.0,11.50,2.60,0.0,1.5,15.600000,Credit Card,8.0,728.0,277.0,210.0,470.0
1705798,14.0,2016-01-27 11:30:00,2016-01-27 11:30:00,360.0,0.80,NaN,504.0,32.0,32.0,5.75,0.00,0.0,0.0,5.750000,Cash,NaN,18.0,610.0,744.0,605.0
1705799,5995.0,2016-01-19 09:00:00,2016-01-19 09:00:00,540.0,0.20,NaN,685.0,32.0,7.0,12.25,2.45,0.0,0.0,14.700000,Credit Card,8.0,744.0,605.0,408.0,559.0
1705800,1279.0,2016-01-30 19:30:00,2016-01-30 19:45:00,840.0,2.40,NaN,NaN,22.0,7.0,10.25,0.00,0.0,0.0,10.250000,Cash,82.0,604.0,668.0,173.0,203.0
1705801,8112.0,2016-01-28 17:45:00,2016-01-28 17:45:00,0.0,0.00,NaN,NaN,NaN,NaN,45.25,9.05,0.0,0.0,54.299999,Credit Card,119.0,NaN,NaN,NaN,NaN
1705802,1213.0,2016-01-28 06:30:00,2016-01-28 06:45:00,1380.0,17.90,NaN,313.0,32.0,76.0,44.00,5.00,0.0,0.0,49.000000,Credit Card,92.0,64.0,231.0,225.0,6.0
1705803,1911.0,2016-01-17 12:30:00,2016-01-17 12:45:00,960.0,2.50,NaN,807.0,8.0,28.0,11.75,0.00,0.0,1.0,12.750000,Cash,NaN,161.0,649.0,411.0,545.0
1705804,8206.0,2016-01-31 03:15:00,2016-01-31 03:15:00,360.0,2.10,NaN,791.0,8.0,24.0,8.25,3.00,0.0,1.0,12.250000,Credit Card,NaN,419.0,615.0,255.0,300.0