In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [4]:
pd.read_csv('./data/galaxy.csv')

,BuyItNow,startprice,carrier,color,productline,noDescription,charCountDescription,upperCaseDescription,sold
0,0,199.99,None,White,Galaxy_S9,contains description,0,0,1
1,0,235.00,None,NaN,Galaxy_Note9,contains description,0,0,0
2,0,199.99,NaN,NaN,Unknown,no description,100,2,0
3,1,175.00,AT&T,Space Gray,Galaxy_Note9,contains description,0,0,1
4,1,100.00,None,Space Gray,Galaxy_S8,contains description,0,0,1
...,...,...,...,...,...,...,...,...,...
1480,0,89.50,AT&T,NaN,Galaxy_S7,no description,96,2,0
1481,0,239.95,None,Midnight Black,Galaxy_S9,no description,97,5,1
1482,0,329.99,None,Space Gray,Galaxy_Note10,no description,93,1,0
1483,0,89.00,None,Midnight Black,Galaxy_S7,no description,92,2,1
1484,0,119.99,AT&T,Midnight Black,Galaxy_S7,no description,96,5,0

In [2]:
df = pd.read_csv('./data/galaxy_final.csv', index_col=0)

In [3]:
df.head()

,index,BuyItNow,startprice,productSeries_imputed,product_isNote_imputed,hasDescription,charCountDescriptionBins,upperCaseDescription_rate,startprice_point9,sold,color_sentiment_0,color_sentiment_1,carrier_none_0,carrier_none_1
0,0,0,199.99,2,0,0,0,0.00,1,1,1,0,0,1
1,1,0,235.00,2,1,0,0,0.00,0,0,0,0,0,1
2,2,0,199.99,1,0,1,1,0.02,1,0,0,0,0,0
3,3,1,175.00,2,1,0,0,0.00,0,1,0,1,1,0
4,4,1,100.00,1,0,0,0,0.00,0,1,0,1,0,1